.landing__Heading{
    height:15em;
}
.landing{
    /* background-color: var(--background-root); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('./landing-page.jpeg');
    background-repeat: no-repeat; 
    background-size: cover; 
    height:100vh;  
}

/* @media screen {
    .landing__Heading{
        height:10em;
    }
    
} */