img.dots {
    height: 50vh;
    width: 20vw;
    position: relative;
    left: 0;
    top: 6vh;
    z-index: -1;
}

@media (max-width: 992px)
{img.dots {
    width: 34vw;
    top: 0;
}
}
@media (max-width: 992px)
{img.dots {
    width: 34vw;
    top: 0;
}}

@media (max-width: 992px)
{.about__content {
    text-align: center;
    top: -45vh;
}}

.about__content {
    margin-top: 1vh;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -40vh;
    display: flex;
}

#about {
    font-weight: 700;
    font-size: 6vh;
    font-style: italic;
    padding: 3.5vh;
    font-family: NeueMontreal-Italic;
}
@media (max-width: 992px)
{#cont {
    font-size: 1.2rem;
}}
#cont, #logo {
    padding: 3.5vh;
    font-size: 1.5vw;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
    font-family: NeueMontreal-Regular;
}

.MuiTypography-body1 {
    font-size: 1rem;
    font-family: Inter;
    font-weight: 400;
    line-height: 1.5;
}
.MuiTypography-root {
    margin: 0;
}
p {
    margin: 0;
    font-family: "Neue Montreal";
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
@media (max-width: 992px)
{.content1 {
    text-align: center;
    top: -45vh;
}}
.content__left{
    flex:0.6;
}
.content__right{
    flex: 0.4;
    margin:20px;
}