.navbar{
    display: flex;
    flex-direction: row;
    width: 100%;
    border-bottom: 5px;
    color: #F5F9FC;
    /* text-shadow: 2px 2px 60px var(--accent-primary-default); */
    background-color:transparent;
    /* border: 1px solid #1C2333; */
    padding: 20px;
    position:fixed;
    visibility: visible;
    /* background-color: aqua; */
  }
  
  .navbar__left{
    flex: 0.3;
  }
  
  .navbar__right{
    display: flex;
    flex-direction: row;
    /* justify-content:space-around; */
    flex:0.7;
    white-space: nowrap;
    align-items: center;
}
.navbar__right h3{

    padding: 3px 20px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 1px solid transparent;

  }

.logo{
      height: 55px;
      padding-left: 20px;
      
}
a{
  cursor: pointer;
}

.wrap{
	text-align: center;
}

.nav{
	height: 80px;
}

Navlink{
	margin: 200px auto;
	width: 800px;
	list-style: none;
	background: rgba(0, 0, 0, 0.2);
}

li{
	margin-top: 25px;
	display: inline-block;
}

Navlink a {
	text-decoration: none;
	color: #fff;
	font-family: 'quicksand','cursive';
	font-weight: lighter;
	font-size: 25px;
	transition: 1s;
	padding: 25px;
}


li a:hover{
	transition: 1s;
	background: rgba(255, 255, 255, 0.7);
	color: #000;

}