.Timeline{
     /* background-color: #0b1e38 !important; */
     background-image: url( https://www.manufosela.es/shooting_stars/stars_5.png);
     color:"#0b1e38"; 
     font-size: 20px;
     font-weight: 800;
     align-items: center;}
.vertical-timeline-element-date{
     color:#00b69d
}